:root {
  /*Colors*/
  --dark-purple: #26001b;
  --purple: #810034;
  --light-purple: #ff005c;
  --yellow: #fff600;

  /*Fonts*/

  --font-logo: 'Indie Flower', cursive;
  --font: 'Source Sans Pro', sans-serif;
}

/* Reset =================================*/

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--dark-purple);
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Home Page ============================*/

.container {
  height: 100%;
  width: 100%;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  box-sizing: border-box;
}

header {
  padding-top: 3rem;
}

.logo {
  font-family: var(--font-logo);
  color: var(--yellow);
  font-size: 3.7rem;
}

.buttons {
  display: flex;
  -webkit-display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}

.button {
  background-color: var(--yellow);
  color: var(--purple);
  padding: 1rem;
  width: 10rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: 600;
  transition: 0.5s;
  border: solid 1px var(--yellow);
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.icon-hash {
  margin-left: -16px;
}

/* Footer =============================*/

footer {
  padding-bottom: 1rem;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--yellow);
  font-family: var(--font);
}

a {
  color: var(--yellow);
  font-size: 2rem;
  transition: 0.3s;
}

a:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  cursor: pointer;
}

/* Modal =======================*/

.modal-carregar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-carregar-overlay.show {
  opacity: 1;
  visibility: visible;
  background-color: var(--dark-purple);
}

.modal-carregar {
  width: 20rem;
  height: 11rem;
  background-color: var(--purple);
  color: var(--yellow);
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 999;
  border: 2px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: var(--font);
}

.buttons-modal {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.buttons-modal .button {
  width: 40%;
}

/*Modal endgame ============================*/

.modal-endgame-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-endgame-overlay.show {
  opacity: 1;
  visibility: visible;
  background-color: var(--dark-purple);
}

.modal-endgame {
  width: 20rem;
  height: 11rem;
  background-color: var(--purple);
  color: var(--yellow);
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  z-index: 999;
  border: 2px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: var(--font);
}

/*Form new players ==========================*/
.player-names {
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}
.form {
  max-width: 500px;
}

input {
  background: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 70%;
  box-sizing: border-box;
  margin-top: 0.8rem;
}

#player2 {
  margin-bottom: 1rem;
}

/* Game =====================*/

.container-grid {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 5rem;
  gap: 2.5rem;
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: var(--dark-purple);
  border: 5px solid var(--yellow);
  display: inline-block;
  margin: 0;
  color: var(--yellow);
  font-size: 4rem;
  box-sizing: border-box;
  position: relative;
}

.square .icon-o {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(13%);
  -webkit-transform: translateY(13%);
}

.square .icon-o:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.square .icon-x {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(13%);
  -webkit-transform: translateY(13%);
}
.square .icon-x:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.scoreboard {
  color: var(--yellow);
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-family: var(--font);
}

.scoreplayer1,
.scoreplayer2 {
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding-left: 5px;
}

/* Player time ==============================*/

.scoreplayer1 {
  box-sizing: border-box;

  border-left: 0.2px solid var(--yellow);
}

/*Button back to home================*/

.back-to-home {
  background: var(--yellow);
  color: var(--dark-purple);
  position: fixed;
  left: 1rem;
  top: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.back-to-home.show {
  visibility: visible;
  opacity: 1;
}

/* Responsive ====================*/

@media (max-width: 1200px) {
  html {
    font-size: 15px;
    overflow: scroll;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
    overflow: scroll;
  }
  .square .icon-o {
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
  }

  .square .icon-x {
    position: absolute;

    transform: translateY(20%);
    -webkit-transform: translateY(20%);
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }

  .square {
    width: 70px;
    height: 70px;
  }
}

@media (max-height: 440px) {
  footer {
    visibility: hidden;
    opacity: 0;
  }
}
