@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?v6m27j');
  src: url('fonts/icomoon.eot?v6m27j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v6m27j') format('truetype'),
    url('fonts/icomoon.woff?v6m27j') format('woff'),
    url('fonts/icomoon.svg?v6m27j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: '\e905';
}
.icon-linkedin:before {
  content: '\e903';
}
.icon-github:before {
  content: '\e904';
}
.icon-o:before {
  content: '\e901';
}
.icon-x:before {
  content: '\e902';
}
.icon-hash:before {
  content: '\e900';
}
